<div id="wrapper">
  <h1>Get the Facts</h1>
  <h2><i>What's going on in Cannabis today?</i></h2>
  <div id="articles">{{#each articles}}
    <h1 data-id={{this._id}} class="article_title">{{this.title}}</h1>
    <h2>{{this.category}}</h2>
    <p>{{this.link}}</p>
    {{/each}}
  </div>
  <div id="notes">
    {{!-- <h2>Notes</h2> --}}
    {{!-- <input id='note-title'>
    <textarea id='bodyinput' name='body'></textarea>
    <button data-id={{this._id}} id='savenote'>Keep Note</button>
     --}}
     
  </div>
</div>